image: electronuserland/builder:latest

pages:
  stage: deploy
  before_script:
    - npm i -g pnpm
    - apt-get update && apt-get install -y flatpak flatpak-builder
  script:
    - flatpak remote-add --if-not-exists flathub https://dl.flathub.org/repo/flathub.flatpakrepo
    - flatpak install -y flathub org.freedesktop.Sdk//23.08 org.freedesktop.Platform//23.08
    - pnpm install --frozen-lockfile
    - pnpm run dist:linux-unpacked
    - flatpak-builder --disable-rofiles-fuse --repo=repo --force-clean flatpak-build tv-client.yml
    - flatpak build-export repo flatpak-build
    - flatpak build-bundle repo "dist/TV Client-0.0.1-x86_64.flatpak"
    - mkdir -p public
    - cp dist/TV\ Client-*.flatpak public/
  artifacts:
    paths: [public/, dist/]
